#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

::-moz-selection {
  background: rgba(249, 116, 21, 0.643);
}

::selection {
  background: rgba(249, 116, 21, 0.643);
}